<!-- Componente: Formulario -->
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <form class="row g-2" #f="ngForm" (ngSubmit)="f.form.valid && agregarValor()">
            <div class="col-auto">
                <select (change)="tipoOperacion($event)"
                class="form-select bg-success" [ngClass]="{'bg-danger': tipo === 'egresoOperacion',
                        'bg-success': tipo === 'ingresoOperacion'}">
                    <option value="ingresoOperacion" selected>+</option>
                    <option value="egresoOperacion">-</option>
                </select>
            </div>
                    <div class="col-12 col-sm-7 mb-2 mb-sm-0">
                        <input type="text" class="form-control border-success" placeholder="Descripción" required
                                [(ngModel)]="descripcionInput" name="descripcionInput"
                                [ngClass]="{'bg-danger': tipo === 'egresoOperacion',
                                'bg-success': tipo === 'ingresoOperacion'}" />
                    </div>
                    <div class="col-12 col-sm-3">
                        <input type="number" class="form-control border-success" placeholder="Valor" required
                                [(ngModel)]="valorInput" name="valorInput"
                                [ngClass]="{'bg-danger': tipo === 'egresoOperacion',
                                'bg-success': tipo === 'ingresoOperacion'}" />
                    </div>            <div class="col-auto">
                <button type="submit" class="btn" [ngClass]="{'bg-danger': tipo === 'egresoOperacion',
                        'bg-success': tipo === 'ingresoOperacion'}">
                    <i class="bi bi-check-circle"></i> <!-- Bootstrap Icon -->
                </button>
            </div>
        </form>
    </div>
</div>